<h2>{{ "Parse Documents"|t('_searchable-documents') }}</h2>
<form method="POST">
    {{ actionInput('') }}
    {{ csrfInput() }}
    <div class="flex">
        <a class="btn submit formsubmit" data-icon="refresh"
           data-action="_searchable-documents/documents/parse-all-entries"
           data-confirm="{{ 'Are you sure you want to parse all searchable document entries?'|t('_searchable-documents') }}">
            {{ 'Parse all searchable entries'|t('_searchable-documents') }}
        </a>
    </div>
</form>
